@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f2424;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    /* min-height: 85vh; */
    padding: 5rem 9% 5rem 9%;
    margin: 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    object-fit: contain;
    margin-top: 6rem;
}

.home-content_2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* object-fit: contain; */
    margin-top: 6rem;
}

.content-items {
    display: inline-block;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    margin-right: 1rem;
    gap: 15px;
}

.content-items p {
    margin-top: 15px;
    /* background-color: yellow; */
    max-width: 42vw;
}

.home-img img {
    display: inline-block;
    object-fit: cover;
    border-radius: 20%;
    height: 410px;
    max-width: 42vw;
    animation: slideInFromBottom 1.3s ease-out;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.home-content h3 {
    font-size: 3rem;
    font-weight: 700;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border-radius: 20px;
}

.btn:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.heading {
    text-align: center;
    font-size: 6rem;
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}

.counting {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
    margin-top: 10px;
}


/* css for skills  */

.box4 {
    padding: 40px;
    color: #001C55;
}

.box41 {
    width: fit-content;
    margin: auto;
    text-align: center;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.skills-list div {
    background: var(--text-color);
    padding: 40px;
    font-size: 15px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.skills-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.skills-list div h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.skills-list div:hover {
    background: #001C55;
    color: #E0E0E0;
    transform: translateY(-10px);
}


/* css for skills  */

@media (max-width: 580px) {
    body {
        flex-direction: column;
    }
}

.projects h2 {
    margin-bottom: 3rem;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.project-container .project-box {
    width: 400px;
    background: var(--text-color);
    padding: 0rem 0 3rem;
    border-radius: 2rem;
    text-align: center;
    transition: 0.3s ease-in-out;
    box-shadow: 2rem 2rem 5rem #272f2f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-container .project-box img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.project-container .project-box:hover {
    transform: scale(1.03);
}

.project-container .project-box h2 {
    color: #1f2424;
    margin-bottom: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
}

.project-container .project-box p {
    color: #1f2424;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.project-container .project-box .tech-stack {
    margin-bottom: 1rem;
    color: black;
}

.project-container .project-box .tech-stack h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.project-container .project-box .tech-stack ul {
    list-style-type: none;
    padding: 0;
}

.project-container .project-box .tech-stack ul li {
    background-color: #f4f4f4;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.3rem;
}

.project-container .project-box .btn1 {
    transition: 0.3s ease-in-out;
}

.project-container .project-box .btn1:hover {
    background: rgb(52, 100, 103);
    box-shadow: 0 0 1rem #1f2424;
    color: var(--text-color);
}

.project_anchor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}


/* skills */

.totalContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0;
}

.container1 {
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    /* margin: 30px 20px; */
    box-sizing: border-box;
}

.heading1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 25px;
}

.bar {
    font-size: 23px;
}

.Technical-bars .bar {
    margin-top: 40px 0;
}

.Technical-bars .bar:first-child {
    margin-top: 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: 0;
}

.Technical-bars .bar .info {
    margin-bottom: 5px;
}

.Technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span {
    width: 90%;
}

.progress-line.css span {
    width: 80%;
}

.progress-line.javaScript span {
    width: 70%;
}

.progress-line.java span {
    width: 65%;
}

.progress-line.react span {
    width: 70%;
}

.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after {
    content: "90%";
}

.progress-line.css span::after {
    content: "80%";
}

.progress-line.javaScript span::after {
    content: "70%";
}

.progress-line.java span::after {
    content: "65%";
}

.progress-line.react span::after {
    content: "70%";
}

.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bars .radial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stroke: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1 {
    animation: animate-path1 1s 1s linear forwards;
}

.path-2 {
    animation: animate-path2 1s 1s linear forwards;
}

.path-3 {
    animation: animate-path3 1s 1s linear forwards;
}

.path-4 {
    animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 50;
        ;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 175;
        ;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 125;
        ;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 75;
        ;
    }
}

.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.radial-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}


/*footer*/

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background: var(--second-bg-color);
    color: #f4f4f4;
    padding: 1rem;
    text-align: center;
    margin-bottom: -140px;
}

.social-links i {
    color: var(--main-color);
    margin: 1rem;
    font-size: 30px;
    transition: 0.3s ease-in-out;
}

.social-links i:hover {
    transform: scale(1.10);
}

.contact-link {
    font-size: 0.5rem;
    color: #fff;
}

.footer p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

.footer-iconTop a:hover {
    transform: scale(1.10);
}

.toggle {
    box-shadow: 0 0 1rem var(--main-color);
}


/* new footer with contact form */

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding: 50px;
    margin-top: 30px;
}

.contact-text h2 {
    font-size: 110px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span {
    color: #0ef;
}

.contact-text h4 {
    margin: 25px 0;
    color: rgb(228, 228, 228);
    font-size: 40px;
    font-weight: 600;
}

.contact-text p {
    color: rgb(177, 177, 177);
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 13px;
    margin-right: 15px;
    gap: 15px;
    font-size: 20px;
    display: block;
}

.contact-list i {
    margin-right: 15px;
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-form form {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.contact-form div {
    margin-bottom: 15px;
}

.contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    resize: vertical;
    height: 150px;
}

.contact-form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #0ef;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
    background-color: #0bd;
}

.last-text p {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(7, 85, 91);
    font-weight: 300;
    margin-top: 70px;
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}

.top i {
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

@media screen and (max-width: 768px) {
    .contact {
        flex-direction: column;
    }
    .contact-text,
    .contact-form {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .contact-list {
        flex-direction: column;
        gap: 10px;
    }
    .social-links {
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .contact-text h4 {
        font-size: 1.5em;
    }
    .contact-text p {
        font-size: 0.9em;
    }
    .contact-list li {
        font-size: 0.9em;
    }
    .social-links a {
        margin: 0 10px;
    }
    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .footer {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navbar.active {
        transition: 0.3s ease-in-out;
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-img img {
        height: 200px;
        width: 70vw;
        margin-top: 4rem;
        align-items: ce;
    }
}