@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f2424;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 85vh;
    padding: 5rem 9% 5rem 9%;
    margin: 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    object-fit: contain;
    margin-top: 6rem;
}

.home-content_2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* object-fit: contain; */
    margin-top: 6rem;
}

.content-items {
    display: inline-block;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    margin-right: 1rem;
}

.content-items>p {
    max-width: 42vw;
}

.home-img img {
    display: inline-block;
    object-fit: cover;
    border-radius: 20%;
    height: 410px;
    max-width: 42vw;
    animation: slideInFromBottom 1.3s ease-out;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.home-content h3 {
    font-size: 3rem;
    font-weight: 700;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border-radius: 20px;
}

.btn:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.heading {
    text-align: center;
    font-size: 6rem;
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}

.counting {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
    margin-top: 10px;
}


/* css for skills  */

.box4 {
    padding: 40px;
    color: #001C55;
}

.box41 {
    width: fit-content;
    margin: auto;
    text-align: center;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.skills-list div {
    background: var(--text-color);
    padding: 40px;
    font-size: 15px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.skills-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.skills-list div h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.skills-list div:hover {
    background: #001C55;
    color: #E0E0E0;
    transform: translateY(-10px);
}


/* css for skills  */

@media (max-width: 580px) {
    body {
        flex-direction: column;
    }
}

.projects h2 {
    margin-bottom: 3rem;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.project-container .project-box {
    flex: 1 1 30rem;
    background: var(--text-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    /* border: .2rem solid var(--main-color); */
    transition: 0.3s ease-in-out;
    box-shadow: 2rem 2rem 5rem #272f2f;
}

.project-container .project-box:hover {
    transform: scale(1.03);
}

.project-container .project-box h2 {
    color: #1f2424;
    margin-bottom: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
}

.project-container .project-box p {
    color: #1f2424;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.project-container .project-box .btn1 {
    transition: 0.3s ease-in-out;
}

.project-container .project-box .btn1:hover {
    background: rgb(52, 100, 103);
    box-shadow: 0 0 1rem #1f2424;
    color: var(--text-color);
}

.project-container .project-box>a {
    margin-right: 25px;
}


/*footer*/

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background: var(--second-bg-color);
    color: #f4f4f4;
    padding: 1rem;
    text-align: center;
}

.social-links i {
    color: var(--main-color);
    margin: 1rem;
    font-size: 30px;
    transition: 0.3s ease-in-out;
}

.social-links i:hover {
    transform: scale(1.10);
}

.contact-link {
    font-size: 0.5rem;
    color: #fff;
}

.footer p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

.footer-iconTop a:hover {
    transform: scale(1.10);
}

.toggle {
    box-shadow: 0 0 1rem var(--main-color);
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .footer {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navbar.active {
        transition: 0.3s ease-in-out;
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-img img {
        height: 200px;
        width: 70vw;
        margin-top: 4rem;
        align-items: ce;
    }
}